Importing Pythons Libraries for Data analysis

In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

Importing CSV Data

In [2]:
pd.read_csv(r"C:\Users\abdul\Desktop\Ecommerce_Consumer_Behavior_Analysis_Data.csv")

,Customer_ID,Age,Gender,Income_Level,Marital_Status,Education_Level,Occupation,Location,Purchase_Category,Purchase_Amount,...,Customer_Satisfaction,Engagement_with_Ads,Device_Used_for_Shopping,Payment_Method,Time_of_Purchase,Discount_Used,Customer_Loyalty_Program_Member,Purchase_Intent,Shipping_Preference,Time_to_Decision
0,37-611-6911,22,Female,Middle,Married,Bachelor's,Middle,Évry,Gardening & Outdoors,$333.80,...,7,NaN,Tablet,Credit Card,3/1/2024,True,False,Need-based,No Preference,2
1,29-392-9296,49,Male,High,Married,High School,High,Huocheng,Food & Beverages,$222.22,...,5,High,Tablet,PayPal,4/16/2024,True,False,Wants-based,Standard,6
2,84-649-5117,24,Female,Middle,Single,Master's,High,Huzhen,Office Supplies,$426.22,...,7,Low,Smartphone,Debit Card,3/15/2024,True,True,Impulsive,No Preference,3
3,48-980-6078,29,Female,Middle,Single,Master's,Middle,Wiwilí,Home Appliances,$101.31,...,1,NaN,Smartphone,Other,10/4/2024,True,True,Need-based,Express,10
4,91-170-9072,33,Female,Middle,Widowed,High School,Middle,Nara,Furniture,$211.70,...,10,NaN,Smartphone,Debit Card,1/30/2024,False,False,Wants-based,No Preference,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,20-562-2569,44,Female,High,Divorced,Bachelor's,High,Aramayuan,Mobile Accessories,$463.67,...,4,NaN,Tablet,PayPal,7/7/2024,True,False,Need-based,Standard,5
996,41-366-4205,50,Female,High,Single,High School,Middle,Paquera,Gardening & Outdoors,$69.78,...,6,Low,Tablet,Cash,3/28/2024,True,False,Wants-based,No Preference,9
997,77-241-7621,26,Male,High,Married,Bachelor's,High,Warudoyong,Food & Beverages,$453.37,...,6,High,Desktop,Credit Card,3/11/2024,True,True,Wants-based,Express,9
998,53-091-2176,21,Female,High,Widowed,Bachelor's,Middle,Béziers,Baby Products,$106.15,...,5,Medium,Desktop,Cash,3/30/2024,True,True,Impulsive,Standard,8
999,48-203-9118,21,Female,Middle,Single,High School,High,Dongzhou,Health Care,$378.47,...,10,Low,Tablet,Other,12/8/2024,False,False,Planned,Express,2

In [3]:
df = pd.read_csv(r"C:\Users\abdul\Desktop\Ecommerce_Consumer_Behavior_Analysis_Data.csv")

Checking Data Quality

In [4]:
df.dtypes

Customer_ID                               object
Age                                        int64
Gender                                    object
Income_Level                              object
Marital_Status                            object
Education_Level                           object
Occupation                                object
Location                                  object
Purchase_Category                         object
Purchase_Amount                           object
Frequency_of_Purchase                      int64
Purchase_Channel                          object
Brand_Loyalty                              int64
Product_Rating                             int64
Time_Spent_on_Product_Research(hours)    float64
Social_Media_Influence                    object
Discount_Sensitivity                      object
Return_Rate                                int64
Customer_Satisfaction                      int64
Engagement_with_Ads                       object
Device_Used_for_Shopping                  object
Payment_Method                            object
Time_of_Purchase                          object
Discount_Used                               bool
Customer_Loyalty_Program_Member             bool
Purchase_Intent                           object
Shipping_Preference                       object
Time_to_Decision                           int64
dtype: object

Replacing special characters and Data types

In [6]:
df['Purchase_Amount'] = df['Purchase_Amount'].str.replace('$','')

In [7]:
df

,Customer_ID,Age,Gender,Income_Level,Marital_Status,Education_Level,Occupation,Location,Purchase_Category,Purchase_Amount,...,Customer_Satisfaction,Engagement_with_Ads,Device_Used_for_Shopping,Payment_Method,Time_of_Purchase,Discount_Used,Customer_Loyalty_Program_Member,Purchase_Intent,Shipping_Preference,Time_to_Decision
0,37-611-6911,22,Female,Middle,Married,Bachelor's,Middle,Évry,Gardening & Outdoors,333.80,...,7,NaN,Tablet,Credit Card,3/1/2024,True,False,Need-based,No Preference,2
1,29-392-9296,49,Male,High,Married,High School,High,Huocheng,Food & Beverages,222.22,...,5,High,Tablet,PayPal,4/16/2024,True,False,Wants-based,Standard,6
2,84-649-5117,24,Female,Middle,Single,Master's,High,Huzhen,Office Supplies,426.22,...,7,Low,Smartphone,Debit Card,3/15/2024,True,True,Impulsive,No Preference,3
3,48-980-6078,29,Female,Middle,Single,Master's,Middle,Wiwilí,Home Appliances,101.31,...,1,NaN,Smartphone,Other,10/4/2024,True,True,Need-based,Express,10
4,91-170-9072,33,Female,Middle,Widowed,High School,Middle,Nara,Furniture,211.70,...,10,NaN,Smartphone,Debit Card,1/30/2024,False,False,Wants-based,No Preference,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,20-562-2569,44,Female,High,Divorced,Bachelor's,High,Aramayuan,Mobile Accessories,463.67,...,4,NaN,Tablet,PayPal,7/7/2024,True,False,Need-based,Standard,5
996,41-366-4205,50,Female,High,Single,High School,Middle,Paquera,Gardening & Outdoors,69.78,...,6,Low,Tablet,Cash,3/28/2024,True,False,Wants-based,No Preference,9
997,77-241-7621,26,Male,High,Married,Bachelor's,High,Warudoyong,Food & Beverages,453.37,...,6,High,Desktop,Credit Card,3/11/2024,True,True,Wants-based,Express,9
998,53-091-2176,21,Female,High,Widowed,Bachelor's,Middle,Béziers,Baby Products,106.15,...,5,Medium,Desktop,Cash,3/30/2024,True,True,Impulsive,Standard,8
999,48-203-9118,21,Female,Middle,Single,High School,High,Dongzhou,Health Care,378.47,...,10,Low,Tablet,Other,12/8/2024,False,False,Planned,Express,2

In [9]:
df['Purchase_Amount'] = df['Purchase_Amount'].astype(float)

In [ ]:

df

,Customer_ID,Age,Gender,Income_Level,Marital_Status,Education_Level,Occupation,Location,Purchase_Category,Purchase_Amount,...,Customer_Satisfaction,Engagement_with_Ads,Device_Used_for_Shopping,Payment_Method,Time_of_Purchase,Discount_Used,Customer_Loyalty_Program_Member,Purchase_Intent,Shipping_Preference,Time_to_Decision
0,37-611-6911,22,Female,Middle,Married,Bachelor's,Middle,Évry,Gardening & Outdoors,333.80,...,7,NaN,Tablet,Credit Card,3/1/2024,True,False,Need-based,No Preference,2
1,29-392-9296,49,Male,High,Married,High School,High,Huocheng,Food & Beverages,222.22,...,5,High,Tablet,PayPal,4/16/2024,True,False,Wants-based,Standard,6
2,84-649-5117,24,Female,Middle,Single,Master's,High,Huzhen,Office Supplies,426.22,...,7,Low,Smartphone,Debit Card,3/15/2024,True,True,Impulsive,No Preference,3
3,48-980-6078,29,Female,Middle,Single,Master's,Middle,Wiwilí,Home Appliances,101.31,...,1,NaN,Smartphone,Other,10/4/2024,True,True,Need-based,Express,10
4,91-170-9072,33,Female,Middle,Widowed,High School,Middle,Nara,Furniture,211.70,...,10,NaN,Smartphone,Debit Card,1/30/2024,False,False,Wants-based,No Preference,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,20-562-2569,44,Female,High,Divorced,Bachelor's,High,Aramayuan,Mobile Accessories,463.67,...,4,NaN,Tablet,PayPal,7/7/2024,True,False,Need-based,Standard,5
996,41-366-4205,50,Female,High,Single,High School,Middle,Paquera,Gardening & Outdoors,69.78,...,6,Low,Tablet,Cash,3/28/2024,True,False,Wants-based,No Preference,9
997,77-241-7621,26,Male,High,Married,Bachelor's,High,Warudoyong,Food & Beverages,453.37,...,6,High,Desktop,Credit Card,3/11/2024,True,True,Wants-based,Express,9
998,53-091-2176,21,Female,High,Widowed,Bachelor's,Middle,Béziers,Baby Products,106.15,...,5,Medium,Desktop,Cash,3/30/2024,True,True,Impulsive,Standard,8
999,48-203-9118,21,Female,Middle,Single,High School,High,Dongzhou,Health Care,378.47,...,10,Low,Tablet,Other,12/8/2024,False,False,Planned,Express,2

Looking All Columns

In [15]:
pd.set_option('display.max_columns', None)

In [16]:
df

,Customer_ID,Age,Gender,Income_Level,Marital_Status,Education_Level,Occupation,Location,Purchase_Category,Purchase_Amount,Frequency_of_Purchase,Purchase_Channel,Brand_Loyalty,Product_Rating,Time_Spent_on_Product_Research(hours),Social_Media_Influence,Discount_Sensitivity,Return_Rate,Customer_Satisfaction,Engagement_with_Ads,Device_Used_for_Shopping,Payment_Method,Time_of_Purchase,Discount_Used,Customer_Loyalty_Program_Member,Purchase_Intent,Shipping_Preference,Time_to_Decision
0,37-611-6911,22,Female,Middle,Married,Bachelor's,Middle,Évry,Gardening & Outdoors,333.80,4,Mixed,5,5,2.00,NaN,Somewhat Sensitive,1,7,NaN,Tablet,Credit Card,3/1/2024,True,False,Need-based,No Preference,2
1,29-392-9296,49,Male,High,Married,High School,High,Huocheng,Food & Beverages,222.22,11,In-Store,3,1,2.00,Medium,Not Sensitive,1,5,High,Tablet,PayPal,4/16/2024,True,False,Wants-based,Standard,6
2,84-649-5117,24,Female,Middle,Single,Master's,High,Huzhen,Office Supplies,426.22,2,Mixed,5,5,0.30,Low,Not Sensitive,1,7,Low,Smartphone,Debit Card,3/15/2024,True,True,Impulsive,No Preference,3
3,48-980-6078,29,Female,Middle,Single,Master's,Middle,Wiwilí,Home Appliances,101.31,6,Mixed,3,1,1.00,High,Somewhat Sensitive,0,1,NaN,Smartphone,Other,10/4/2024,True,True,Need-based,Express,10
4,91-170-9072,33,Female,Middle,Widowed,High School,Middle,Nara,Furniture,211.70,6,Mixed,3,4,0.00,Medium,Not Sensitive,2,10,NaN,Smartphone,Debit Card,1/30/2024,False,False,Wants-based,No Preference,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,20-562-2569,44,Female,High,Divorced,Bachelor's,High,Aramayuan,Mobile Accessories,463.67,5,Online,2,4,0.30,High,Not Sensitive,2,4,NaN,Tablet,PayPal,7/7/2024,True,False,Need-based,Standard,5
996,41-366-4205,50,Female,High,Single,High School,Middle,Paquera,Gardening & Outdoors,69.78,9,Mixed,4,3,2.00,Low,Very Sensitive,0,6,Low,Tablet,Cash,3/28/2024,True,False,Wants-based,No Preference,9
997,77-241-7621,26,Male,High,Married,Bachelor's,High,Warudoyong,Food & Beverages,453.37,10,Mixed,1,1,2.00,Low,Very Sensitive,0,6,High,Desktop,Credit Card,3/11/2024,True,True,Wants-based,Express,9
998,53-091-2176,21,Female,High,Widowed,Bachelor's,Middle,Béziers,Baby Products,106.15,12,In-Store,4,4,0.30,Low,Somewhat Sensitive,0,5,Medium,Desktop,Cash,3/30/2024,True,True,Impulsive,Standard,8
999,48-203-9118,21,Female,Middle,Single,High School,High,Dongzhou,Health Care,378.47,6,Online,5,2,0.33,Medium,Not Sensitive,1,10,Low,Tablet,Other,12/8/2024,False,False,Planned,Express,2

In [17]:
df.columns

Index(['Customer_ID', 'Age', 'Gender', 'Income_Level', 'Marital_Status',
       'Education_Level', 'Occupation', 'Location', 'Purchase_Category',
       'Purchase_Amount', 'Frequency_of_Purchase', 'Purchase_Channel',
       'Brand_Loyalty', 'Product_Rating',
       'Time_Spent_on_Product_Research(hours)', 'Social_Media_Influence',
       'Discount_Sensitivity', 'Return_Rate', 'Customer_Satisfaction',
       'Engagement_with_Ads', 'Device_Used_for_Shopping', 'Payment_Method',
       'Time_of_Purchase', 'Discount_Used', 'Customer_Loyalty_Program_Member',
       'Purchase_Intent', 'Shipping_Preference', 'Time_to_Decision'],
      dtype='object')

In [23]:
df[['Customer_ID', 'Age', 'Gender', 'Income_Level', 'Marital_Status',
       'Education_Level', 'Occupation', #'Location', 
        'Purchase_Category',
       'Purchase_Amount', 'Frequency_of_Purchase', #'Purchase_Channel',
       #'Brand_Loyalty', 'Product_Rating',
       #'Time_Spent_on_Product_Research(hours)', 
        #'Social_Media_Influence',
      # 'Discount_Sensitivity', 'Return_Rate', 'Customer_Satisfaction',
      # 'Engagement_with_Ads', 'Device_Used_for_Shopping', 'Payment_Method',
       'Time_of_Purchase', #'Discount_Used', #'Customer_Loyalty_Program_Member',
      # 'Purchase_Intent', 'Shipping_Preference', 'Time_to_Decision'
    ]]

,Customer_ID,Age,Gender,Income_Level,Marital_Status,Education_Level,Occupation,Purchase_Category,Purchase_Amount,Frequency_of_Purchase,Time_of_Purchase
0,37-611-6911,22,Female,Middle,Married,Bachelor's,Middle,Gardening & Outdoors,333.80,4,3/1/2024
1,29-392-9296,49,Male,High,Married,High School,High,Food & Beverages,222.22,11,4/16/2024
2,84-649-5117,24,Female,Middle,Single,Master's,High,Office Supplies,426.22,2,3/15/2024
3,48-980-6078,29,Female,Middle,Single,Master's,Middle,Home Appliances,101.31,6,10/4/2024
4,91-170-9072,33,Female,Middle,Widowed,High School,Middle,Furniture,211.70,6,1/30/2024
...,...,...,...,...,...,...,...,...,...,...,...
995,20-562-2569,44,Female,High,Divorced,Bachelor's,High,Mobile Accessories,463.67,5,7/7/2024
996,41-366-4205,50,Female,High,Single,High School,Middle,Gardening & Outdoors,69.78,9,3/28/2024
997,77-241-7621,26,Male,High,Married,Bachelor's,High,Food & Beverages,453.37,10,3/11/2024
998,53-091-2176,21,Female,High,Widowed,Bachelor's,Middle,Baby Products,106.15,12,3/30/2024
999,48-203-9118,21,Female,Middle,Single,High School,High,Health Care,378.47,6,12/8/2024

Selecting Only Useful Columns

In [24]:
df = df[['Customer_ID', 'Age', 'Gender', 'Income_Level', 'Marital_Status',
       'Education_Level', 'Occupation', #'Location', 
        'Purchase_Category',
       'Purchase_Amount', 'Frequency_of_Purchase', #'Purchase_Channel',
       #'Brand_Loyalty', 'Product_Rating',
       #'Time_Spent_on_Product_Research(hours)', 
        #'Social_Media_Influence',
      # 'Discount_Sensitivity', 'Return_Rate', 'Customer_Satisfaction',
      # 'Engagement_with_Ads', 'Device_Used_for_Shopping', 'Payment_Method',
       'Time_of_Purchase', #'Discount_Used', #'Customer_Loyalty_Program_Member',
      # 'Purchase_Intent', 'Shipping_Preference', 'Time_to_Decision'
    ]]

In [25]:
df

,Customer_ID,Age,Gender,Income_Level,Marital_Status,Education_Level,Occupation,Purchase_Category,Purchase_Amount,Frequency_of_Purchase,Time_of_Purchase
0,37-611-6911,22,Female,Middle,Married,Bachelor's,Middle,Gardening & Outdoors,333.80,4,3/1/2024
1,29-392-9296,49,Male,High,Married,High School,High,Food & Beverages,222.22,11,4/16/2024
2,84-649-5117,24,Female,Middle,Single,Master's,High,Office Supplies,426.22,2,3/15/2024
3,48-980-6078,29,Female,Middle,Single,Master's,Middle,Home Appliances,101.31,6,10/4/2024
4,91-170-9072,33,Female,Middle,Widowed,High School,Middle,Furniture,211.70,6,1/30/2024
...,...,...,...,...,...,...,...,...,...,...,...
995,20-562-2569,44,Female,High,Divorced,Bachelor's,High,Mobile Accessories,463.67,5,7/7/2024
996,41-366-4205,50,Female,High,Single,High School,Middle,Gardening & Outdoors,69.78,9,3/28/2024
997,77-241-7621,26,Male,High,Married,Bachelor's,High,Food & Beverages,453.37,10,3/11/2024
998,53-091-2176,21,Female,High,Widowed,Bachelor's,Middle,Baby Products,106.15,12,3/30/2024
999,48-203-9118,21,Female,Middle,Single,High School,High,Health Care,378.47,6,12/8/2024

Checking any Nulls Vales and droplicates Values

In [26]:
df.isnull().sum()

Customer_ID              0
Age                      0
Gender                   0
Income_Level             0
Marital_Status           0
Education_Level          0
Occupation               0
Purchase_Category        0
Purchase_Amount          0
Frequency_of_Purchase    0
Time_of_Purchase         0
dtype: int64

In [28]:
df.duplicated().sum()

np.int64(0)

Fixing Names of specfic Columns

In [29]:
df['Purchase_Category'].unique()

array(['Gardening & Outdoors', 'Food & Beverages', 'Office Supplies',
       'Home Appliances', 'Furniture', 'Books', 'Sports & Outdoors',
       'Mobile Accessories', 'Luxury Goods', 'Animal Feed', 'Health Care',
       'Hotels', 'Packages)', 'Electronics', 'Software & Apps',
       'Baby Products', 'Toys & Games', 'Arts & Crafts',
       'Health Supplements', 'Groceries', 'Clothing',
       'Beauty & Personal Care', 'Travel & Leisure (Flights',
       'Jewelry & Accessories'], dtype=object)

In [31]:
df['Purchase_Category'] = df['Purchase_Category'].str.replace('Packages)','Packages')

C:\Users\abdul\AppData\Local\Temp\ipykernel_3200\2980836348.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Purchase_Category'] = df['Purchase_Category'].str.replace('Packages)','Packages')

In [32]:
df['Purchase_Category'].unique()

array(['Gardening & Outdoors', 'Food & Beverages', 'Office Supplies',
       'Home Appliances', 'Furniture', 'Books', 'Sports & Outdoors',
       'Mobile Accessories', 'Luxury Goods', 'Animal Feed', 'Health Care',
       'Hotels', 'Packages', 'Electronics', 'Software & Apps',
       'Baby Products', 'Toys & Games', 'Arts & Crafts',
       'Health Supplements', 'Groceries', 'Clothing',
       'Beauty & Personal Care', 'Travel & Leisure (Flights',
       'Jewelry & Accessories'], dtype=object)

In [33]:
df['Purchase_Category'] = df['Purchase_Category'].str.replace('Travel & Leisure (Flights','Travel & Leisure Flights')

C:\Users\abdul\AppData\Local\Temp\ipykernel_3200\340980365.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Purchase_Category'] = df['Purchase_Category'].str.replace('Travel & Leisure (Flights','Travel & Leisure Flights')

Checking Data Types of Columns

In [35]:
df.dtypes

Customer_ID               object
Age                        int64
Gender                    object
Income_Level              object
Marital_Status            object
Education_Level           object
Occupation                object
Purchase_Category         object
Purchase_Amount          float64
Frequency_of_Purchase      int64
Time_of_Purchase          object
dtype: object

Changing Data types of Date Time

In [37]:
pd.to_datetime(df['Time_of_Purchase'])

0     2024-03-01
1     2024-04-16
2     2024-03-15
3     2024-10-04
4     2024-01-30
         ...
995   2024-07-07
996   2024-03-28
997   2024-03-11
998   2024-03-30
999   2024-12-08
Name: Time_of_Purchase, Length: 1000, dtype: datetime64[ns]

In [38]:
df['Time_of_Purchase'] = pd.to_datetime(df['Time_of_Purchase'])

C:\Users\abdul\AppData\Local\Temp\ipykernel_3200\960662495.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Time_of_Purchase'] = pd.to_datetime(df['Time_of_Purchase'])

In [40]:
df.dtypes

Customer_ID                      object
Age                               int64
Gender                           object
Income_Level                     object
Marital_Status                   object
Education_Level                  object
Occupation                       object
Purchase_Category                object
Purchase_Amount                 float64
Frequency_of_Purchase             int64
Time_of_Purchase         datetime64[ns]
dtype: object

In [41]:
df

,Customer_ID,Age,Gender,Income_Level,Marital_Status,Education_Level,Occupation,Purchase_Category,Purchase_Amount,Frequency_of_Purchase,Time_of_Purchase
0,37-611-6911,22,Female,Middle,Married,Bachelor's,Middle,Gardening & Outdoors,333.80,4,2024-03-01
1,29-392-9296,49,Male,High,Married,High School,High,Food & Beverages,222.22,11,2024-04-16
2,84-649-5117,24,Female,Middle,Single,Master's,High,Office Supplies,426.22,2,2024-03-15
3,48-980-6078,29,Female,Middle,Single,Master's,Middle,Home Appliances,101.31,6,2024-10-04
4,91-170-9072,33,Female,Middle,Widowed,High School,Middle,Furniture,211.70,6,2024-01-30
...,...,...,...,...,...,...,...,...,...,...,...
995,20-562-2569,44,Female,High,Divorced,Bachelor's,High,Mobile Accessories,463.67,5,2024-07-07
996,41-366-4205,50,Female,High,Single,High School,Middle,Gardening & Outdoors,69.78,9,2024-03-28
997,77-241-7621,26,Male,High,Married,Bachelor's,High,Food & Beverages,453.37,10,2024-03-11
998,53-091-2176,21,Female,High,Widowed,Bachelor's,Middle,Baby Products,106.15,12,2024-03-30
999,48-203-9118,21,Female,Middle,Single,High School,High,Health Care,378.47,6,2024-12-08

Rounding Off specfic values of Columns Purchase_Amount then changing Data type from float to int

In [43]:
df['Purchase_Amount'] = df['Purchase_Amount'].round(0)

C:\Users\abdul\AppData\Local\Temp\ipykernel_3200\938680708.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Purchase_Amount'] = df['Purchase_Amount'].round(0)

In [44]:
df['Purchase_Amount'].astype(int)

0      334
1      222
2      426
3      101
4      212
      ...
995    464
996     70
997    453
998    106
999    378
Name: Purchase_Amount, Length: 1000, dtype: int64

In [45]:
df['Purchase_Amount'] = df['Purchase_Amount'].astype(int)

C:\Users\abdul\AppData\Local\Temp\ipykernel_3200\1310936565.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Purchase_Amount'] = df['Purchase_Amount'].astype(int)

In [46]:
df

,Customer_ID,Age,Gender,Income_Level,Marital_Status,Education_Level,Occupation,Purchase_Category,Purchase_Amount,Frequency_of_Purchase,Time_of_Purchase
0,37-611-6911,22,Female,Middle,Married,Bachelor's,Middle,Gardening & Outdoors,334,4,2024-03-01
1,29-392-9296,49,Male,High,Married,High School,High,Food & Beverages,222,11,2024-04-16
2,84-649-5117,24,Female,Middle,Single,Master's,High,Office Supplies,426,2,2024-03-15
3,48-980-6078,29,Female,Middle,Single,Master's,Middle,Home Appliances,101,6,2024-10-04
4,91-170-9072,33,Female,Middle,Widowed,High School,Middle,Furniture,212,6,2024-01-30
...,...,...,...,...,...,...,...,...,...,...,...
995,20-562-2569,44,Female,High,Divorced,Bachelor's,High,Mobile Accessories,464,5,2024-07-07
996,41-366-4205,50,Female,High,Single,High School,Middle,Gardening & Outdoors,70,9,2024-03-28
997,77-241-7621,26,Male,High,Married,Bachelor's,High,Food & Beverages,453,10,2024-03-11
998,53-091-2176,21,Female,High,Widowed,Bachelor's,Middle,Baby Products,106,12,2024-03-30
999,48-203-9118,21,Female,Middle,Single,High School,High,Health Care,378,6,2024-12-08

Extracting Months and Year from column Time_of_Purchase and making new columns for them

In [55]:
df['Month'] = df['Time_of_Purchase'].dt.strftime('%B')

C:\Users\abdul\AppData\Local\Temp\ipykernel_3200\875660648.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Month'] = df['Time_of_Purchase'].dt.strftime('%B')

In [53]:
df

,Customer_ID,Age,Gender,Income_Level,Marital_Status,Education_Level,Occupation,Purchase_Category,Purchase_Amount,Frequency_of_Purchase,Time_of_Purchase,Month
0,37-611-6911,22,Female,Middle,Married,Bachelor's,Middle,Gardening & Outdoors,334,4,2024-03-01,March
1,29-392-9296,49,Male,High,Married,High School,High,Food & Beverages,222,11,2024-04-16,April
2,84-649-5117,24,Female,Middle,Single,Master's,High,Office Supplies,426,2,2024-03-15,March
3,48-980-6078,29,Female,Middle,Single,Master's,Middle,Home Appliances,101,6,2024-10-04,October
4,91-170-9072,33,Female,Middle,Widowed,High School,Middle,Furniture,212,6,2024-01-30,January
...,...,...,...,...,...,...,...,...,...,...,...,...
995,20-562-2569,44,Female,High,Divorced,Bachelor's,High,Mobile Accessories,464,5,2024-07-07,July
996,41-366-4205,50,Female,High,Single,High School,Middle,Gardening & Outdoors,70,9,2024-03-28,March
997,77-241-7621,26,Male,High,Married,Bachelor's,High,Food & Beverages,453,10,2024-03-11,March
998,53-091-2176,21,Female,High,Widowed,Bachelor's,Middle,Baby Products,106,12,2024-03-30,March
999,48-203-9118,21,Female,Middle,Single,High School,High,Health Care,378,6,2024-12-08,December

In [56]:
df['Year'] = df['Time_of_Purchase'].dt.strftime('%Y')

C:\Users\abdul\AppData\Local\Temp\ipykernel_3200\1497365667.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Year'] = df['Time_of_Purchase'].dt.strftime('%Y')

In [57]:
df

,Customer_ID,Age,Gender,Income_Level,Marital_Status,Education_Level,Occupation,Purchase_Category,Purchase_Amount,Frequency_of_Purchase,Time_of_Purchase,Month,Year
0,37-611-6911,22,Female,Middle,Married,Bachelor's,Middle,Gardening & Outdoors,334,4,2024-03-01,March,2024
1,29-392-9296,49,Male,High,Married,High School,High,Food & Beverages,222,11,2024-04-16,April,2024
2,84-649-5117,24,Female,Middle,Single,Master's,High,Office Supplies,426,2,2024-03-15,March,2024
3,48-980-6078,29,Female,Middle,Single,Master's,Middle,Home Appliances,101,6,2024-10-04,October,2024
4,91-170-9072,33,Female,Middle,Widowed,High School,Middle,Furniture,212,6,2024-01-30,January,2024
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,20-562-2569,44,Female,High,Divorced,Bachelor's,High,Mobile Accessories,464,5,2024-07-07,July,2024
996,41-366-4205,50,Female,High,Single,High School,Middle,Gardening & Outdoors,70,9,2024-03-28,March,2024
997,77-241-7621,26,Male,High,Married,Bachelor's,High,Food & Beverages,453,10,2024-03-11,March,2024
998,53-091-2176,21,Female,High,Widowed,Bachelor's,Middle,Baby Products,106,12,2024-03-30,March,2024
999,48-203-9118,21,Female,Middle,Single,High School,High,Health Care,378,6,2024-12-08,December,2024

Last time checking Data types of columns

In [66]:
df.dtypes

Customer_ID              object
Age                       int64
Gender                   object
Income_Level             object
Marital_Status           object
Education_Level          object
Occupation               object
Purchase_Category        object
Purchase_Amount           int64
Frequency_of_Purchase     int64
Time_of_Purchase         object
Month                    object
Year                     object
dtype: object

Changing the new columns data types

In [68]:
df['Year']=df['Year'].astype(int)

C:\Users\abdul\AppData\Local\Temp\ipykernel_3200\1925074224.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Year']=df['Year'].astype(int)

In [70]:
df.dtypes

Customer_ID              object
Age                       int64
Gender                   object
Income_Level             object
Marital_Status           object
Education_Level          object
Occupation               object
Purchase_Category        object
Purchase_Amount           int64
Frequency_of_Purchase     int64
Time_of_Purchase         object
Month                    object
Year                      int64
dtype: object

In [73]:
df['Time_of_Purchase'] = pd.to_datetime(df['Time_of_Purchase'])

C:\Users\abdul\AppData\Local\Temp\ipykernel_3200\960662495.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Time_of_Purchase'] = pd.to_datetime(df['Time_of_Purchase'])

In [74]:
df.dtypes

Customer_ID                      object
Age                               int64
Gender                           object
Income_Level                     object
Marital_Status                   object
Education_Level                  object
Occupation                       object
Purchase_Category                object
Purchase_Amount                   int64
Frequency_of_Purchase             int64
Time_of_Purchase         datetime64[ns]
Month                            object
Year                              int64
dtype: object

Saving it in Excel File

In [75]:
df.to_excel('Final.xlsx',index=False)