In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"K:\GTA\global_freelancers_raw.csv")

Importing Pandas for Data Cleaning and Reading CSV File ( Uncleaned Data )

In [3]:
df

,freelancer_ID,name,gender,age,country,language,primary_skill,years_of_experience,hourly_rate (USD),rating,is_active,client_satisfaction
0,FL250001,Ms. Nicole Kidd,f,52.0,Italy,Italian,Blockchain Development,11.0,100,NaN,0,NaN
1,FL250002,Vanessa Garcia,FEMALE,52.0,Australia,English,Mobile Apps,34.0,USD 100,3.3,1,84%
2,FL250003,Juan Nelson,male,53.0,Germany,German,Graphic Design,31.0,50,0.0,N,71%
3,FL250004,Amanda Spencer,F,38.0,Australia,English,Web Development,4.0,$40,1.5,N,90%
4,FL250005,Lynn Curtis DDS,female,53.0,Germany,German,Web Development,27.0,30,4.8,0,83%
...,...,...,...,...,...,...,...,...,...,...,...,...
995,FL250996,Albert Wilcox,Male,56.0,Turkey,Turkish,DevOps,13.0,100,0.0,no,68%
996,FL250997,Cheryl Norris,f,26.0,Germany,German,Blockchain Development,6.0,USD 40,2.8,N,82
997,FL250998,Kathy Watkins,female,37.0,Japan,Japanese,Data Analysis,15.0,75,NaN,False,94%
998,FL250999,John Obrien,m,46.0,Russia,Russian,Machine Learning,22.0,100,2.8,yes,97
999,FL251000,Dawn Green,Female,36.0,Mexico,Spanish,UI/UX Design,18.0,$20,1.7,1,72

Checking data type of columns and and their names

In [5]:
df.dtypes

freelancer_ID           object
name                    object
gender                  object
age                    float64
country                 object
language                object
primary_skill           object
years_of_experience    float64
hourly_rate (USD)       object
rating                 float64
is_active               object
client_satisfaction     object
dtype: object

In [6]:
df.columns

Index(['freelancer_ID', 'name', 'gender', 'age', 'country', 'language',
       'primary_skill', 'years_of_experience', 'hourly_rate (USD)', 'rating',
       'is_active', 'client_satisfaction'],
      dtype='object')

Renameing their Columns to more standard name

In [7]:
df = df[['freelancer_ID', 'name', 'gender', 'age', 'country', 'language',
       'primary_skill', 'years_of_experience', 'hourly_rate (USD)', 'rating',
       'client_satisfaction']]

In [8]:
df

,freelancer_ID,name,gender,age,country,language,primary_skill,years_of_experience,hourly_rate (USD),rating,client_satisfaction
0,FL250001,Ms. Nicole Kidd,f,52.0,Italy,Italian,Blockchain Development,11.0,100,NaN,NaN
1,FL250002,Vanessa Garcia,FEMALE,52.0,Australia,English,Mobile Apps,34.0,USD 100,3.3,84%
2,FL250003,Juan Nelson,male,53.0,Germany,German,Graphic Design,31.0,50,0.0,71%
3,FL250004,Amanda Spencer,F,38.0,Australia,English,Web Development,4.0,$40,1.5,90%
4,FL250005,Lynn Curtis DDS,female,53.0,Germany,German,Web Development,27.0,30,4.8,83%
...,...,...,...,...,...,...,...,...,...,...,...
995,FL250996,Albert Wilcox,Male,56.0,Turkey,Turkish,DevOps,13.0,100,0.0,68%
996,FL250997,Cheryl Norris,f,26.0,Germany,German,Blockchain Development,6.0,USD 40,2.8,82
997,FL250998,Kathy Watkins,female,37.0,Japan,Japanese,Data Analysis,15.0,75,NaN,94%
998,FL250999,John Obrien,m,46.0,Russia,Russian,Machine Learning,22.0,100,2.8,97
999,FL251000,Dawn Green,Female,36.0,Mexico,Spanish,UI/UX Design,18.0,$20,1.7,72

In [9]:
df = df.rename(columns={'name':'Name','gender':'Gender','age':'Age','country':'Country','language':'Language','primary_skill':'Primary_Skill', 'years_of_experience': 'Years_of_Experience','hourly_rate (USD)':'Hourly_Rate','client_satisfaction':'Client_Satisfaction','rating':'Rating'})

In [10]:
df

,freelancer_ID,Name,Gender,Age,Country,Language,Primary_Skill,Years_of_Experience,Hourly_Rate,Rating,Client_Satisfaction
0,FL250001,Ms. Nicole Kidd,f,52.0,Italy,Italian,Blockchain Development,11.0,100,NaN,NaN
1,FL250002,Vanessa Garcia,FEMALE,52.0,Australia,English,Mobile Apps,34.0,USD 100,3.3,84%
2,FL250003,Juan Nelson,male,53.0,Germany,German,Graphic Design,31.0,50,0.0,71%
3,FL250004,Amanda Spencer,F,38.0,Australia,English,Web Development,4.0,$40,1.5,90%
4,FL250005,Lynn Curtis DDS,female,53.0,Germany,German,Web Development,27.0,30,4.8,83%
...,...,...,...,...,...,...,...,...,...,...,...
995,FL250996,Albert Wilcox,Male,56.0,Turkey,Turkish,DevOps,13.0,100,0.0,68%
996,FL250997,Cheryl Norris,f,26.0,Germany,German,Blockchain Development,6.0,USD 40,2.8,82
997,FL250998,Kathy Watkins,female,37.0,Japan,Japanese,Data Analysis,15.0,75,NaN,94%
998,FL250999,John Obrien,m,46.0,Russia,Russian,Machine Learning,22.0,100,2.8,97
999,FL251000,Dawn Green,Female,36.0,Mexico,Spanish,UI/UX Design,18.0,$20,1.7,72

Renames Gender columns to more formal names

In [11]:
df['Gender'] = df['Gender'].str.lower().replace({
    'f': 'Female',
    'female': 'Female',
    'm': 'Male',
    'male': 'Male'
})

In [12]:
df

,freelancer_ID,Name,Gender,Age,Country,Language,Primary_Skill,Years_of_Experience,Hourly_Rate,Rating,Client_Satisfaction
0,FL250001,Ms. Nicole Kidd,Female,52.0,Italy,Italian,Blockchain Development,11.0,100,NaN,NaN
1,FL250002,Vanessa Garcia,Female,52.0,Australia,English,Mobile Apps,34.0,USD 100,3.3,84%
2,FL250003,Juan Nelson,Male,53.0,Germany,German,Graphic Design,31.0,50,0.0,71%
3,FL250004,Amanda Spencer,Female,38.0,Australia,English,Web Development,4.0,$40,1.5,90%
4,FL250005,Lynn Curtis DDS,Female,53.0,Germany,German,Web Development,27.0,30,4.8,83%
...,...,...,...,...,...,...,...,...,...,...,...
995,FL250996,Albert Wilcox,Male,56.0,Turkey,Turkish,DevOps,13.0,100,0.0,68%
996,FL250997,Cheryl Norris,Female,26.0,Germany,German,Blockchain Development,6.0,USD 40,2.8,82
997,FL250998,Kathy Watkins,Female,37.0,Japan,Japanese,Data Analysis,15.0,75,NaN,94%
998,FL250999,John Obrien,Male,46.0,Russia,Russian,Machine Learning,22.0,100,2.8,97
999,FL251000,Dawn Green,Female,36.0,Mexico,Spanish,UI/UX Design,18.0,$20,1.7,72

In [13]:
df['Gender'].unique()

array(['Female', 'Male'], dtype=object)

Remove NA values

In [14]:
df.dropna()

,freelancer_ID,Name,Gender,Age,Country,Language,Primary_Skill,Years_of_Experience,Hourly_Rate,Rating,Client_Satisfaction
1,FL250002,Vanessa Garcia,Female,52.0,Australia,English,Mobile Apps,34.0,USD 100,3.3,84%
2,FL250003,Juan Nelson,Male,53.0,Germany,German,Graphic Design,31.0,50,0.0,71%
3,FL250004,Amanda Spencer,Female,38.0,Australia,English,Web Development,4.0,$40,1.5,90%
4,FL250005,Lynn Curtis DDS,Female,53.0,Germany,German,Web Development,27.0,30,4.8,83%
6,FL250007,Eric Myers,Male,52.0,Indonesia,Indonesian,Data Analysis,10.0,USD 75,3.1,94%
...,...,...,...,...,...,...,...,...,...,...,...
994,FL250995,Jennifer Hinton,Female,34.0,South Africa,Afrikaans,DevOps,8.0,30,3.9,95%
995,FL250996,Albert Wilcox,Male,56.0,Turkey,Turkish,DevOps,13.0,100,0.0,68%
996,FL250997,Cheryl Norris,Female,26.0,Germany,German,Blockchain Development,6.0,USD 40,2.8,82
998,FL250999,John Obrien,Male,46.0,Russia,Russian,Machine Learning,22.0,100,2.8,97
999,FL251000,Dawn Green,Female,36.0,Mexico,Spanish,UI/UX Design,18.0,$20,1.7,72

In [15]:
df.rename(columns={'Hourly_Rate':'Hourly_Rate_in_USD'})

,freelancer_ID,Name,Gender,Age,Country,Language,Primary_Skill,Years_of_Experience,Hourly_Rate_in_USD,Rating,Client_Satisfaction
0,FL250001,Ms. Nicole Kidd,Female,52.0,Italy,Italian,Blockchain Development,11.0,100,NaN,NaN
1,FL250002,Vanessa Garcia,Female,52.0,Australia,English,Mobile Apps,34.0,USD 100,3.3,84%
2,FL250003,Juan Nelson,Male,53.0,Germany,German,Graphic Design,31.0,50,0.0,71%
3,FL250004,Amanda Spencer,Female,38.0,Australia,English,Web Development,4.0,$40,1.5,90%
4,FL250005,Lynn Curtis DDS,Female,53.0,Germany,German,Web Development,27.0,30,4.8,83%
...,...,...,...,...,...,...,...,...,...,...,...
995,FL250996,Albert Wilcox,Male,56.0,Turkey,Turkish,DevOps,13.0,100,0.0,68%
996,FL250997,Cheryl Norris,Female,26.0,Germany,German,Blockchain Development,6.0,USD 40,2.8,82
997,FL250998,Kathy Watkins,Female,37.0,Japan,Japanese,Data Analysis,15.0,75,NaN,94%
998,FL250999,John Obrien,Male,46.0,Russia,Russian,Machine Learning,22.0,100,2.8,97
999,FL251000,Dawn Green,Female,36.0,Mexico,Spanish,UI/UX Design,18.0,$20,1.7,72

In [16]:
df['Hourly_Rate'].unique()

array(['100', 'USD 100', '50', '$40', '30', '$30', 'USD 75', 'USD 40',
       nan, '$50', '40', '75', 'USD 50', 'USD 30', '$20', '20', '$75',
       '$100', 'USD 20'], dtype=object)

Fixing Columns data of Hourly_Rate

In [17]:
df['Hourly_Rate'] = df['Hourly_Rate'].str.replace('USD','')
df['Hourly_Rate'] = df['Hourly_Rate'].str.replace('$','')

In [18]:
df

,freelancer_ID,Name,Gender,Age,Country,Language,Primary_Skill,Years_of_Experience,Hourly_Rate,Rating,Client_Satisfaction
0,FL250001,Ms. Nicole Kidd,Female,52.0,Italy,Italian,Blockchain Development,11.0,100,NaN,NaN
1,FL250002,Vanessa Garcia,Female,52.0,Australia,English,Mobile Apps,34.0,100,3.3,84%
2,FL250003,Juan Nelson,Male,53.0,Germany,German,Graphic Design,31.0,50,0.0,71%
3,FL250004,Amanda Spencer,Female,38.0,Australia,English,Web Development,4.0,40,1.5,90%
4,FL250005,Lynn Curtis DDS,Female,53.0,Germany,German,Web Development,27.0,30,4.8,83%
...,...,...,...,...,...,...,...,...,...,...,...
995,FL250996,Albert Wilcox,Male,56.0,Turkey,Turkish,DevOps,13.0,100,0.0,68%
996,FL250997,Cheryl Norris,Female,26.0,Germany,German,Blockchain Development,6.0,40,2.8,82
997,FL250998,Kathy Watkins,Female,37.0,Japan,Japanese,Data Analysis,15.0,75,NaN,94%
998,FL250999,John Obrien,Male,46.0,Russia,Russian,Machine Learning,22.0,100,2.8,97
999,FL251000,Dawn Green,Female,36.0,Mexico,Spanish,UI/UX Design,18.0,20,1.7,72

In [19]:
df['Rating'] = df['Rating'].fillna('Unknown')

In [25]:
df.drop_duplicates()

,freelancer_ID,Name,Gender,Age,Country,Language,Primary_Skill,Years_of_Experience,Hourly_Rate,Rating,Client_Satisfaction
0,FL250001,Ms. Nicole Kidd,Female,52.0,Italy,Italian,Blockchain Development,11.0,100,Unknown,NaN
1,FL250002,Vanessa Garcia,Female,52.0,Australia,English,Mobile Apps,34.0,100,3.3,84%
2,FL250003,Juan Nelson,Male,53.0,Germany,German,Graphic Design,31.0,50,0.0,71%
3,FL250004,Amanda Spencer,Female,38.0,Australia,English,Web Development,4.0,40,1.5,90%
4,FL250005,Lynn Curtis DDS,Female,53.0,Germany,German,Web Development,27.0,30,4.8,83%
...,...,...,...,...,...,...,...,...,...,...,...
995,FL250996,Albert Wilcox,Male,56.0,Turkey,Turkish,DevOps,13.0,100,0.0,68%
996,FL250997,Cheryl Norris,Female,26.0,Germany,German,Blockchain Development,6.0,40,2.8,82
997,FL250998,Kathy Watkins,Female,37.0,Japan,Japanese,Data Analysis,15.0,75,Unknown,94%
998,FL250999,John Obrien,Male,46.0,Russia,Russian,Machine Learning,22.0,100,2.8,97
999,FL251000,Dawn Green,Female,36.0,Mexico,Spanish,UI/UX Design,18.0,20,1.7,72

In [27]:
df = df.dropna()

In [28]:
df

,freelancer_ID,Name,Gender,Age,Country,Language,Primary_Skill,Years_of_Experience,Hourly_Rate,Rating,Client_Satisfaction
1,FL250002,Vanessa Garcia,Female,52.0,Australia,English,Mobile Apps,34.0,100,3.3,84%
2,FL250003,Juan Nelson,Male,53.0,Germany,German,Graphic Design,31.0,50,0.0,71%
3,FL250004,Amanda Spencer,Female,38.0,Australia,English,Web Development,4.0,40,1.5,90%
4,FL250005,Lynn Curtis DDS,Female,53.0,Germany,German,Web Development,27.0,30,4.8,83%
6,FL250007,Eric Myers,Male,52.0,Indonesia,Indonesian,Data Analysis,10.0,75,3.1,94%
...,...,...,...,...,...,...,...,...,...,...,...
995,FL250996,Albert Wilcox,Male,56.0,Turkey,Turkish,DevOps,13.0,100,0.0,68%
996,FL250997,Cheryl Norris,Female,26.0,Germany,German,Blockchain Development,6.0,40,2.8,82
997,FL250998,Kathy Watkins,Female,37.0,Japan,Japanese,Data Analysis,15.0,75,Unknown,94%
998,FL250999,John Obrien,Male,46.0,Russia,Russian,Machine Learning,22.0,100,2.8,97
999,FL251000,Dawn Green,Female,36.0,Mexico,Spanish,UI/UX Design,18.0,20,1.7,72

No Duplicates Found and saving the file

In [30]:
df.to_csv("Cleaned_Data_final_Global_Freelancers_Raw.csv",index=False)